<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Listagem de pessoas </h3>
    </div>

    <div class="card-body">
      <table>
        <thead>
          <tr>
            <td>id</td>
            <td>nome</td>
            <td>sobrenome</td>
            <td>ação</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pessoa of listaPessoa">
            <td>{{ pessoa.id }}</td>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.sobrenome }}</td>
            <td>
              <!-- <button (click)="editar(pessoa.id)" routerLink="/editar">editar</button> -->
              <button [routerLink]="['/editar', pessoa.id]">editar</button>
              <button>excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

